<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}User Proof of Work Portfolio{% endblock %}

{% block conteudo %}

<div class="posts">
    <!-- {% for nft in work_nfts %} -->
    <div class="post-header">
        <h3>Gitcoin engineering workstream</h3>
        <img src="https://pbs.twimg.com/profile_images/1461700151383400450/3Kwlnvl__400x400.png">
        <!-- <p>Overview:</p> -->
        <p>Integrate Sobol with discord and notion for Gitcoin<br>
        <a href="https://gateway.pinata.cloud/ipfs/QmfQvb7QQG5DE6m8tFURE5Uuhu7dRU7TEaxRcSutmEPmQe">View Proof</a></p>
    </div>
    <div class="post-header">
        <h3>Proof MVP Building</h3>
        <img src="https://gateway.pinata.cloud/ipfs/QmfQvb7QQG5DE6m8tFURE5Uuhu7dRU7TEaxRcSutmEPmQe">
        <!-- <p>Overview:</p> -->
        <p>Luanch user edit and profile page for Proof<br>
        <a href="https://gateway.pinata.cloud/ipfs/QmfQvb7QQG5DE6m8tFURE5Uuhu7dRU7TEaxRcSutmEPmQe">View Proof</a></p>
    </div>
    <!-- {% endfor %} -->
</div>
{% endblock %}