@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Rubik';
  color: #254cdd;
  background-color: #f1f1f1;
}

.header {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  background: rgb(38, 38, 141);
  overflow: hidden;
  transition: all 0.3s;
  font-family: "Oswald", sans-serif;
  order: 1;
}

.center {
  margin: auto;
  width: 1000px;
  text-align: left;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Minter {
  width: 100%;
  text-align: center;
}

.MinterBody {
  max-width: 1000px;
  text-align: left;
}

#daoinput {
  width: 85%;
  padding-top: 25px;
  margin-right: 1%;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 100%;
  background-color:  transparent;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

Link {
  margin-top: -10px;
}

#DAO {
  margin-top: 30px;
}

#status{
  margin-bottom: -10px;
}

#portfolio {
  margin-top: 30px;
  margin-left: 50px;
  text-align: left;
  line-height: 16px;
  color: azure;
  font-size: 20px;
}

button {
  padding: 9px 16px;
  max-height: 40px;
  /*box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 20%);*/
  border-color: #254cdd;
  color: #254cdd;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
}

button:hover {
  margin-top: -1px;
}

#title {
  padding-top: 70px;
}

#viewTxns {
  margin-top: 20px;
}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

#walletButton {
  text-align: right;
  float:right;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
  line-height: 16px;
}

#walletButton:focus {
  outline:none;
  border: none;
}

#walletButton:hover {
  outline:none;
  border :none;
}

#mintButton {
  margin-top: 40px;
  background-color: #254cdd;
  color:white;
}